<html>
    <head>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>Data and Pablo</title>
    </head>
    <body>
        <div>
            <h1><a href="">Data and Pablo</a></h1>
        </div>

        {% for i in posts %}
        <div>
            <h2><a href="">{{ i.title }}</a></h1>    
            <p>published: {{ i.published_date }}</p>
            <p>{{ i.text|linebreaksbr }}</p>
        </div>
        {% endfor %}

      
    </body>
</html>